*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: #0F172A;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    font-size: 70px;
    font-style: italic;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    letter-spacing: 1px;
    color:#7fe3ff;
}

.logo span {
    color: white;
    font-size: 70px;
    font-style: italic;
    font-family: "Island Moments", cursive;
    font-weight: 400;
}

nav a {
    margin-left: 35px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover{
    color:#7fe3ff;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    min-height: 100vh;
    overflow: hidden;

}

.hero-text h1{
    font-size: 64px;
    margin-bottom: 10px;
    font-family: Raleway,sans-serif;
}

.hero-text h1 span{
    color: #00A8F1;
    font-style: italic;

}


.hero-text h3{
    font-size: 28px;
    margin: 20px 0;
    font-weight: normal;
    font-family: Raleway, serif;
}


.hero-text p{
    max-width: 500px;
    color: #FFFFFF;
    line-height: 1.6;
    margin-bottom: 40px;
    font-family: Raleway, serif;
    font-weight: lighter;
}

.buttons{
    display: flex;
    gap: 20px;
}

.btn{
    padding: 15px 35px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Raleway, sans-serif;

}

.hire{
    background: #00A8F1;
    color: black;
    box-shadow: 0px 0px 34px 0px #00A8F1;
}

.cv{
    background: #FFFFFF;
    color: #00A8F1;
    box-shadow: 0px 0px 5px 2px #000000;
}

.hero-image {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}

.hero-image img{
    width: auto;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
}

@media all and (max-width: 1024px) {

    .navbar{
        padding: 20px 40px;
    }

    .logo{
        font-size: 42px;
    }

    .logo span{
        font-size: 42px;
    }

    nav a {
        font-size: 16px;
        margin-left: 20px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px;
        min-height: auto;
    }

    .hero-text h1{
        font-size: 48px;
    }

    .hero-text h1 span{
        font-size: 48px;
    }

    .hero-text h3 {
        font-size: 22px;
    }

    .hero-text p {
        font-size: 16px;
        margin: auto auto 30px;
    }

    .buttons{
        justify-content: center;
    }

    .hero-image  {
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }

    .hero-image img{
        width: 300px;
        max-height: none;
    }
}

@media all and (max-width: 768px){

    .navbar{
        padding: 15px 20px;
    }

    .logo{
        font-size: 32px;
    }

    nav{
        display: none;
    }

    .hero{
        padding: 20px;
    }

    .hero-text h1{
        font-size: 34px;
    }

    .hero-text h3{
        font-size: 18px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .buttons{
        flex-direction: column;
        align-items: center;
    }

    .btn{
        font-size: 14px;
        padding: 12px 25px;
    }

    .hero-image img{
        width: 220px;
    }
}



.education{
    background: #172443;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.container{
    width: 85%;
    margin: auto;
}

.section-title{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0px 60px 60px 40px;

}

.section-title span {
    color: #00A8F1;
}

.education-wrapper{
    position: relative;
    min-height: 400px;
}

.edu-card{
    width: 280px;
    min-height: 140px;
    background: linear-gradient(145deg,#1fc0ff,#0a8fd8);
    padding: 20px;
    border-radius: 18px;
    color: white;
    box-shadow: 0 5px 20px rgb(0, 168, 241);
    position: absolute;
}

.edu-card h4{
    margin-bottom: 8px;
    font-size: 16px;
}

.edu-card p {
    font-size: 14px;
    line-height: 1.5;
}

.edu-card.left{
    left: 15%;
    top: 0px;
}

.edu-card.right{
    right: 15%;
    top: 140px;

}

.edu-card.bottom{
    left: 15%;
    top: 280px;

}

@media all and (max-width: 1024px){

    .education-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: auto;
    }

    .edu-card{
    position: static;
    width: 60%;
    }

    .section-title{
    font-size: 48px;
    margin: 40px 0;
    }

}

@media all and (max-width: 768px) {

    .edu-card{
        width: 100%;
    }

    .container{
        width: 90%;
    }

    .section-title{
        font-size: 34px;
    }
}



.hobbies{
    background-color: #1E2A47;
    padding: 80px 10%;
    text-align: center;
}

.hobbies h1 {
    color: white;
    font-size: 64px;
    margin-bottom: 50px;
    margin-top: 0;
}

.hobbies h1 span {
    color: #00A8F1;
}

.hobbies-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.hobby-card{
    background: #3F4765;
    border-radius: 30px;
    width: 300px;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.hobby-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.hobby-card img {
    width: 100%;
    height: 180px;
}

.hobby-card p {
    padding: 25px 20px 30px;
    font-size: 14px;
    line-height: 1.5;
    font-family: Inter, serif;
}

@media all and (max-width: 1024px) {

    .hobbies{
        padding: 60px 6%;
    }

    .hobbies h1{
        font-size: 48px;
    }

    .hobbies-container{
        gap: 25px;
    }

    .hobby-card{
        width: 45%;
    }
}

@media all and (max-width: 768px) {

    .hobbies{
        padding: 50px 5%;
    }

    .hobbies h1{
        font-size: 32px;
    }

    .hobbies-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .hobby-card{
        width: 100%;
        max-width: 350px;
    }

    .hobby-card img{

        height: 160px;

    }

    .hobby-card p{
        font-size: 13px;
    }
}



.services{
    background: #111D38;
    padding: 40px 10%;
    text-align: center;
}

.services h1{
    font-size: 64px;
    color: white;
    margin-bottom: 40px;
}

.services h1 span {
    color: #00A8F1;
}

.tech-stack{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
    flex-wrap: nowrap;
    overflow: hidden;

    animation:slideTech 25s linear infinite ;
    animation-direction: alternate;


}

@keyframes slideTech {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}

.tech-stack span{
    background: #00A8F1;
    color: white;
    padding: 12px 30px;
    border-radius: 20px;
    font-weight: 600;
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;

}

.service-card{
    background: #3F4765;
    width: 300px;
    padding: 40px 30px;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0 25px rgba(0,168,241,0.6);
}



.service-card h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-card p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: Inter, serif;
}

.read-btn{
    display: inline-block;
    background: #00A8F1;
    color: black;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(0,168,241,0.7);
    transition: 0.3s;
}

.read-btn:hover{
    transform: translateY(-3px);
}

@media all and (max-width: 1024px) {

    .services{
        padding: 60px 6%;
    }

    .services h1{
        font-size: 48px;
    }

    .tech-stack{
        justify-content: space-between;
        gap: 20px;
    }

    .tech-stack span{
        padding: 10px 22px;
        font-size: 14px;
    }

    .services-container{
        gap: 40px;
    }

    .service-card{
        width: 45%;
        padding: 30px 25px;
    }
}

@media all and (max-width: 768px) {

    .services{
        padding: 50px 5%;
    }

    .services h1{
        font-size: 32px;
    }

    .tech-stack{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        animation: none;
    }

    .tech-stack span{
        font-size: 12px;
        padding: 8px 18px;
    }

    .services-container{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .service-card{
        width: 100%;
        max-width: 350px;
        padding: 30px 20px;
    }

    .service-card h3{
        font-size: 20px;
    }

    .service-card p{
        font-size: 13px;
    }
}

