*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg,#3b2a9f,#0d6ea8);
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    font-size: 64px;
    font-style: italic;
    color:#7fe3ff;
}

.logo span {
    color: white;
}

nav a {
    margin-left: 35px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover{
    color:#7fe3ff;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    height: 85vh;
}

.hero-text h1{
    font-size: 64px;
    margin-bottom: 10px;
}

.hero-text h2 span{
    color: #00A8F1;
}


.hero-text h3{
    font-size: 28px;
    margin: 20px 0;
    font-weight: 500;
}


.hero-text p{
    max-width: 500px;
    color: #FFFFFF;
    line-height: 1.6;
    margin-bottom: 40px;
}
