*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg,#3b2a9f,#0d6ea8);
    color: white;
}